<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de Usuário</title>
  <link rel="stylesheet" href="/static/style_cadastro.css">
</head>
<body class="cadastro-body">
  <div class="cadastro-container" id="cadastro-box">

    <!-- Lado esquerdo com imagem -->
    <div class="cadastro-imagem">
      <img src="https://cdn-icons-png.flaticon.com/128/3737/3737701.png" alt="Logo do Sistema" class="logo-grande">
    </div>

    <!-- Lado direito com formulário -->
    <div class="cadastro-formulario">
      <h1 class="cadastro-titulo">Cadastro de Usuário</h1>
      
      <!-- Aqui criei um bloco condicional onde ao receber a var "mensagem" do backend(ao tentar cadastrar), vai aparecer para o usuario -->
      {% if mensagem %}
        <div class="notificacao">{{ mensagem }}</div>
      {% endif %}

      <form method="POST" action="/cadastro" class="cadastro-form" id="form-cadastro">
        <div class="form-group">
          <label for="email" class="form-label">Email do usuário</label>
          <input type="text" id="email" name="email" class="form-input" required>
        </div>

        <div class="form-group">
          <label for="senha" class="form-label">Senha do usuário</label>
          <div class="senha-wrapper">
            <input type="password" id="senha" name="senha" class="form-input" required>
            <img src="https://cdn-icons-png.flaticon.com/128/8276/8276554.png" alt="Mostrar senha" id="toggleSenha" class="icone-olho">
          </div>
        </div>


        <button type="submit" class="btn-entrar" id="btn-cadastrar">ENTRAR</button>
        
      </form>

      <div class="cadastro-footer">
        <a href="/criar_conta" class="link-criar-conta">Criar conta</a>
      </div>
    </div>
  </div>

  <script>
    const toggleSenha = document.getElementById('toggleSenha');
    const campoSenha = document.getElementById('senha');

    toggleSenha.addEventListener('click', () => {
      const tipoAtual = campoSenha.getAttribute('type');
      const novoTipo = tipoAtual === 'password' ? 'text' : 'password';
      campoSenha.setAttribute('type', novoTipo);

      toggleSenha.style.opacity = 0;
      setTimeout(() => {
        toggleSenha.src = novoTipo === 'text'
          ? 'https://cdn-icons-png.flaticon.com/128/8276/8276554.png'
          : 'https://cdn-icons-png.flaticon.com/128/63/63568.png';
        toggleSenha.style.opacity = 1;
      }, 150);
    });
  </script>
</body>
</html>
