<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Componentes da Liga</title>
  <link rel="stylesheet" href="/static/style_componentes_liga.css">
</head>
<body class="liga-body">
  <div class="liga-container">
    <h1 class="liga-titulo">Componentes da Liga</h1>

    <div class="liga-grid">

      <div class="cargo-box">
        <h2>Presidentes</h2>
        <hr>
        <ul>
          <li>Álvaro Aleagi - 9ºA</li>
          <li>João Bragheroli - 7ºA</li>
        </ul>
      </div>

      <div class="cargo-box">
        <h2>Secretários</h2>
        <hr>
        <ul>
          <li>Eduarda Saul - 6ºA</li>
          <li>Larissa Medeiros - 9ºA</li>
        </ul>
      </div>

      <div class="cargo-box">
        <h2>Tesoureiros</h2>
        <hr>
        <ul>
          <li>Nelson Martins - 7ºA</li>
          <li>Kamilli Redondo - 8ºA</li>
        </ul>
      </div>

      <div class="cargo-box">
        <h2>Científico</h2>
        <hr>
        <ul>
          <li>Sarah Viviane - 4ºB</li>
          <li>Giulia Ayumi - 8ºB</li>
        </ul>
      </div>

      <div class="cargo-box">
        <h2>Marketing</h2>
        <hr>
        <ul>
          <li>Sarah Viviane - 4ºB</li>
          <li>Bruna Souza - 4ºB</li>
          <li>Giovanna Moreira - 6ºA</li>
          <li>Lyvia Victoria - 7ºA</li>
        </ul>
      </div>

      <div class="cargo-box">
        <h2>Desenvolvedores do Sistema</h2>
        <hr>
        <ul>
          <li>Augusto Corrêa da Rocha Neto – 8ºB de S.I</li>
          <li>Thiago Scandura Motejunas Marcondes Teixeira – 8ºB de S.I</li>
          <li>Thiago Pernella Leme – 8ºB de S.I</li>
          <li>Nicollas Cavalcante Souza – 8ºB de S.I</li>
        </ul>
      </div>

    </div>

    <a href="/central" class="btn-voltar">Voltar ao Menu</a>
  </div>
</body>
</html>
